<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>Task 2: <span>Controller+scope</span></h1>
			<div class="alert alert-success"><p><span>Basic: As a developer</span>
				<br>I want to create an controller for contacts page
				<br>So that it will have separate url
				<br>And create show test "Hello Angular" on that page (DONE)

				<br><span>Advanced: (Bonus + 1point)</span>
				<br>I want to have input field
				<br>the value which i will put into input field
				<br>should be immediately shown on the screen (DONE)
			</p>
		</div>
		<form>
			<div class="col-lg-12">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-info"></i></div>
						<input type="text" class="form-control" ng-model="Hello" placeholder="Set some text...">
					</div>      
				</div>
			</div>
		</form>
		<h1>{{Hello}}</h1>
	</div>
</div>